@layer tokens {
  :root {
    /* =========================
     System tokens
     Reusable design decisions.
     Consume reference tokens and provide semantic meaning.
  ========================= */

    /* Brand colors */
    --sys-color-brand-primary: var(--ref-color-amber-500); /* #ffb142 */
    --sys-color-brand-primary-hover: var(--ref-color-amber-400); /* #ffc470 */
    --sys-color-brand-primary-pressed: var(--ref-color-amber-300); /* #ffd599 */

    --sys-color-brand-accent: var(--ref-color-orange-500); /* #ff793f */
    --sys-color-brand-accent-soft: var(--ref-color-orange-300); /* #ffc6ad */

    --sys-color-danger: var(--ref-color-red-700);  /* #991b1b */
    --sys-color-success: var(--ref-color-green-500); /* #15803D */
    --sys-color-warning: var(--ref-color-mustard-500); /* #B45309 */

    /* Action colors */
    --sys-color-action-primary: var(--sys-color-brand-primary); /* #ffb142 */
    --sys-color-on-action-primary: var(--sys-color-text-inverse); /* #ffffff */
    --sys-color-action-primary-hover: var(--sys-color-brand-primary-hover); /* #ffc470 */
    --sys-color-action-primary-pressed: var(--sys-color-brand-primary-pressed); /* #ffd599 */

    --sys-color-action-secondary: var(--ref-color-white); /* #ffffff */
    --sys-color-on-action-secondary: var(--ref-color-zinc-900); /* #383641 */
    --sys-color-on-action-secondary-hover: var(--ref-color-zinc-600); /* #88868d */
    --sys-color-on-action-secondary-pressed: var(--ref-color-zinc-700); /* #605e67 */

    --sys-color-link-primary: var(--sys-color-brand-primary); /* #ffb142 */
    --sys-color-link-primary-hover: var(--sys-color-brand-primary-hover); /* #ffc470 */
    --sys-color-link-primary-pressed: var(--sys-color-brand-primary-pressed); /* #ffd599 */

    --sys-color-link-secondary: var(--sys-color-text-tertiary); /* #88868d */
    --sys-color-link-secondary-hover: var(--ref-color-zinc-900); /* #383641 */
    --sys-color-link-secondary-pressed: var(--sys-color-text-primary); /* #1f1f21 */

    --sys-color-action-ghost: transparent;
    --sys-color-on-action-ghost: var(--ref-color-zinc-600); /* #88868d */
    --sys-color-on-action-ghost-hover: var(--ref-color-zinc-900); /* #383641 */
    --sys-color-on-action-ghost-pressed: var(--ref-color-zinc-950); /* #1f1f21 */

    --sys-color-action-disabled: var(--ref-color-zinc-300); /* #ebeaec */
    --sys-color-on-action-disabled: var(--ref-color-zinc-600); /* #88868d */

    --sys-color-action-destructive: var(--ref-color-red-50); /* #fef2f2 */
    --sys-color-on-action-destructive: var(--ref-color-red-700); /* #b91c1c */

    --sys-color-action-destructive-hover: var(--ref-color-red-100); /* #fee2e2 */
    --sys-color-action-destructive-pressed: var(--ref-color-red-200); /* #fecaca */

    --sys-color-border-destructive: var(--ref-color-red-300); /* #fca5a5 */

    /* Text colors */
    --sys-color-text-primary: var(--ref-color-zinc-950); /* #1f1f21 */
    --sys-color-text-secondary: var(--ref-color-zinc-700); /* #605e67 */
    --sys-color-text-tertiary: var(--ref-color-zinc-600); /* #88868d */
    --sys-color-text-inverse: var(--ref-color-white); /* #ffffff */
    --sys-color-text-accent: var(--sys-color-brand-accent); /* #ff793f */

    /* Surface colors */
    --sys-color-surface-page: var(--ref-color-zinc-50); /* #fafafa */
    --sys-color-surface-panel: var(--ref-color-white); /* #ffffff */
    --sys-color-surface-muted: var(--ref-color-amber-25); /* #fffcf8 */
    --sys-color-surface-highlight: var(--ref-color-amber-100); /* #fff0dd */
    --sys-color-surface-brand: var(--ref-color-indigo-100); /* #e1e3fa */

    --sys-color-surface-hover: var(--ref-color-amber-50);/* #fff7ee */
    --sys-color-surface-pressed: var(--ref-color-amber-100);/* #fff0dd */
    --sys-color-surface-selected: var(--ref-color-amber-300); /* #ffd599 */
    --sys-color-surface-disabled: var(--ref-color-zinc-100); /* #f5f5f5 */

    /* Border colors */
    --sys-color-border-default: var(--ref-color-zinc-400); /* #d7d7d9 */
    --sys-color-border-soft: var(--ref-color-zinc-300); /* #ebeaec */
    --sys-color-border-accent: var(--sys-color-brand-accent-soft); /* #ffc6ad */
    --sys-color-focus-ring: var(--sys-color-brand-accent); /* #ff793f */
    --sys-color-feedback-info: var(--ref-color-teal-500); /* #59b3b3 */
    --sys-color-feedback-info-strong: var(--ref-color-teal-700); /* #227093 */

    /* Outline */
    --sys-outline-focus: 2px solid var(--sys-color-focus-ring);

    /* Typography */
    --sys-typography-body-font-family: var(--ref-font-family-sans); /* IBM */
    --sys-typography-body-size: var(--ref-font-size-300); /* 16px */
    --sys-typography-body-line-height: var(--ref-line-height-base); /* 1.5 */
    --sys-typography-body-weight: var(--ref-font-weight-regular); /* 400 */
    --sys-typography-body-color: var(--ref-color-zinc-900);  /* #383641 */

    --sys-typography-heading-font-family: var(--ref-font-family-sans); /* IBM */
    --sys-typography-heading-size: var(--ref-font-size-700); /* 24px */
    --sys-typography-heading-line-height: var(--ref-line-height-snug); /* 1.25 */
    --sys-typography-heading-weight: var(--ref-font-weight-bold); /* 700 */
    --sys-typography-heading-color: var(--ref-color-zinc-900); /* #383641 */

    --sys-typography-action-font-family: var(--ref-font-family-sans); /* IBM */
    --sys-typography-action-size: var(--ref-font-size-300); /* 16px */
    --sys-typography-action-sm-size: var(--ref-font-size-200); /* 14px */
    --sys-typography-action-md-size: var(--ref-font-size-300); /* 16px */
    --sys-typography-action-lg-size: var(--ref-font-size-400); /* 18px */
    --sys-typography-action-line-height: var(--ref-line-height-base); /* 1.5 */
    --sys-typography-action-weight: var(--ref-font-weight-semibold);  /* 600 */

    /* Spacing */
    --sys-space-3xs: var(--ref-spacing-100); /* 4px */
    --sys-space-2xs: var(--ref-spacing-200); /* 8px */
    --sys-space-xs: var(--ref-spacing-300); /* 12px */
    --sys-space-sm: var(--ref-spacing-400); /* 16px */
    --sys-space-md: var(--ref-spacing-500); /* 24px */
    --sys-space-lg: var(--ref-spacing-600); /* 32px */
    --sys-space-xl: var(--ref-spacing-700); /* 40px */
    --sys-space-2xl: var(--ref-spacing-800); /* 48px */
    --sys-space-3xl: var(--ref-spacing-900); /* 64px */
    --sys-space-4xl: var(--ref-spacing-1000); /* 80px */

    /* Layout */
    --sys-container-sm: var(--ref-container-sm); /* 680px */
    --sys-container-md: var(--ref-container-md); /* 880px */
    --sys-container-xl: var(--ref-container-xl); /* 1032px */

    /* Z-index */
    --sys-z-index-base: var(--ref-z-index-0); /* 0 */
    --sys-z-index-header: var(--ref-z-index-200); /* 200 */
    --sys-z-index-dropdown: var(--ref-z-index-300); /* 300 */
    --sys-z-index-overlay: var(--ref-z-index-400); /* 400 */
    --sys-z-index-modal: var(--ref-z-index-500); /* 500 */
    --sys-z-index-toast: var(--ref-z-index-600); /* 600 */
    --sys-z-index-tooltip: var(--ref-z-index-700); /* 700 */
  }
}
