@import './reset.css';
@import './tokens.css';
@import './typography.css';

:root {
  interpolate-size: allow-keywords;
}

body {
  font-family: var(--font-family-main);
  color: var(--color-neutral-dark-100);
}

main {
  min-height: 100svh;
}
